
    <form action="/feedback_post" method="POST">  
        <div class="div1">
            <label for="name">Email: <label><br>
            <input type="email" name="email" placeholder="Your Email address..." id="email" required>
         </div>
           
        <div class="div2">
            <label for="body" name="body">Comment:</label><br>
            <textarea  type="text"  name="body" id="body" requiredid="" cols="30" rows="10"></textarea>
        </div>
        <div class="submit">
            <button  type="submit" id="submit">Comment</button>
        </div>
    </form>













