<!DOCTYPE html>
<html lang="en">
   <%- include('./content/header.html')  %>
   <style>
    address{
        font-size: 20px;
        color: rgb(181, 181, 79);
        margin: 2% 25%;
        padding: 2% 5%;
        margin-top: 5%;
        border: 1px solid green
    }
    p{
        font-size: 20px;
        color: white;
        margin: 50px 20%;
    }
    .comment{
        font-size: 30px;
        color: rgb(54, 57, 216);
        text-decoration: none;
        margin-left: 20%;
        border: 1px dashed chartreuse;
        padding: 2px 20px;
        background-color: rgb(32, 29, 29);
        text-shadow: 10px;
        border-radius: 20px;
    }
   </style> 
<body>
    <%- include('./content/nav.html') %> 
    <p>
        <p><span style="color:rgb(7, 217, 7)">ETH-FREELANCE</span> is one of the most important site for those who want to find a new job <br>
           or want to change theire career. In this time we are happy on doing this because we <br>
           are porviding and serving workers and companies to meet each other .
        </p>

            <address>
                developer: melese ayen <br>
                email: meleseayen21@gmail.com <br>
                Mob. number: 0943379308 <br>
                Year: 2014 E.C <br>
            </address>
            <a class="comment" href="/feedback"> Comment Here</a>

    </p>
    <%- include('./content/footer.html')  %> 
</body>
</html>