<!DOCTYPE html>
<html lang="en">
   <%- include('./content/header.html')  %>
   <style>
    p{
        margin-left: 30%;
        margin-top: 5%;
    }
   </style> 
<body>
    <%- include('./content/nav.html') %> 
    <p>
        hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh <br>
        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu <br>
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee <br>
        kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk <br>
        ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss <br>
        ggggggggggggggggggggggggggggggggggg <br>

    </p>
    <%- include('./content/footer.html')  %> 
</body>
</html>