<!DOCTYPE html>
<html lang="en">

<%- include('./admin/header.html')  %> 


<body>
<%- include('./admin/nav.html')  %>

<div class="list">
    <a href="/admin/edit_job/show"> <ul>SHOW ALL JOB LIST</ul></a>
    <a href="/admin/edit_job/update"> <ul>UPDATE JOB</ul></a>
    <a href="/admin/edit_job/delete"> <ul>DELETE JOB</ul></a>
</div>

<%- include('./admin/footer.html')  %> 
</body>
</html>